* {
    font-family: 'Comfortaa', cursive;
    font-family: 'Lato', sans-serif;
}

nav {
    height: 80px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
    font-size: 22px;
}

li {
    list-style: none;
}

.main-container{
    background-image: url('asset/image/background.jpg'), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.content-container{
    /* display: flex; */
    text-align: center;
    width: 50%;
    margin: auto;
    color: white;
}

.first-heading{
    font-size: 80px;
    
}

.first-para{
    font-size: 20px;
}

.btn-primary{
    padding: 20px 35px;
    border: none;
    border-radius: 5px;
    
}

.btn-cover{
    background-color: rgb(216, 21, 21);
    color: white;
}
.primary{
    color: rgb(216, 21, 21);
}

.services{
    background-image: url('asset/image/footer-bg.png'),linear-gradient(rgba(0, 0, 0, 0.9),rgba(0,0,0,0.9));
    height: 100vh;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service-left-content{
    width: 50%;
    margin-left: 100px;
}

.service-left-content h1{
    font-size: 45px;

}

.service-left-content p{
    width: 600px;

}
.service-left-content ol{
    margin-bottom: 20px;
    margin-left: -25px;
}
.service-left-content li{
    list-style: number;
    text-align: left;
}

.author{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    
}
.author-image{
    display: flex;
    align-items: center;
    border-right: 2px solid rgb(216, 21, 21);
}

.author-image img{
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 10px;
}
.author-image h4{
    margin-right: 50px;
}

.btn-secondary{
    padding: 20px 35px;
    border: none;
    border-radius: 50px;
    color:rgb(216, 21, 21);
}
.boxes{
    width: 50%;
    margin-left: 200px;
}

.boxes img{
    width: 100px;
}

.first-row{
    display: flex;
    align-items: center;
    margin: 5px;
}

.service-box{
    width: 300px;
    height: 300px;
    background-color: white;
    color: black;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    /* padding-top: 100px; */
}

.second-row{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin: 5px;
}

.service-box img{
    margin-top: 80px;
}

.top-box{
    width: 75%;
    padding: 15px;
    height: 150px;
    background-color: rgb(245, 44, 44);
    display: flex;
    justify-content: center;
    align-items:center;
    margin: auto;
    border-radius: 15px;
    margin-top:-85px;
    color: white;
}
.top-box-asset{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 2px solid gray;

}
.top-box-asset img{
    width: 70px;
    margin-right: 10px;
}

.desc{
    /* width: 60%; */
    /* margin: ; */
    padding: 10px;
    width: 550px;
    text-align: justify;
}

.btn-appointment{
    /* margin-right: 150px; */
    padding: 10px;
    border: none;
    width: 200px;
    border-radius: 50px;
    color:rgb(216, 21, 21);
}
.main-blog{
    height: 800px;
}
.blogs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.blogs-caption{
    text-align: center;
    margin-top: 50px;
    width: 50%;
    margin: auto;
}
.blogs-caption h1{
    font-size: 45px;
}

.blog-element{
    width:350px;
    /* height: 600px; */
    background:white;
    box-shadow: 4px 4px 8px gray;
    border-radius:10px;
}

.blog-element img{
    width:350px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.blog-element h2{
    padding: 5px 10px;
    text-align: center;
}

.blog-element p{
    padding: 5px 10px;
    text-align: center;
}


.main-footer{
    background-image: url('asset/image/footer-bg.png'),linear-gradient(rgba(0, 0, 0, 0.9),rgba(0,0,0,0.9));
    height: 700px;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.footer-right-desc{
    width: 400px;
}